*.dat filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
data/*.raw filter=lfs diff=lfs merge=lfs -text
data/*.dat filter=lfs diff=lfs merge=lfs -text
data/ictf2010_2mpacket_zipf.dat filter=lfs diff=lfs merge=lfs -text
data/sentense.rules filter=lfs diff=lfs merge=lfs -text
data/synth_zipf_packets filter=lfs diff=lfs merge=lfs -text
data/synth_zipf_packets.c filter=lfs diff=lfs merge=lfs -text
data/acl-fw-hashmap-dleft.raw filter=lfs diff=lfs merge=lfs -text
data/ac.raw filter=lfs diff=lfs merge=lfs -text
data/ictf2010_100kflow.dat filter=lfs diff=lfs merge=lfs -text
data/ictf2010_2mpacket.dat filter=lfs diff=lfs merge=lfs -text
